body {
    background-color: #48C9B0;
    font-family: 'Noto Sans Vai', sans-serif;
}

header {
    background-color: #16A085;
    margin: -8px;
}

svg {
    margin: 10px;
    margin-bottom: 1px;
}

.barrasuperior {
    float: right;
    margin-right: 10px;
}

.titulo {
    font-size: 25px;
    margin-top: 30px;
    color: #fbe7ff;
    padding-right: 805px;
    font-family: 'Noto Serif Telugu', serif;
}

.orientado {
    float: right;
    margin-top: -80px;
    padding-left: 900px;
    position: absolute;
}

.irocho {
    padding-top: 10px;
}


.preguntita {
    margin-left: 42px;

}

form {
    background-color: #16A085;
    margin-top: 30px;
    text-align: center;
    padding: 25px;
}

select {
    border-radius: 2px;
    margin-right: 40px;
    width: 115px;
    height: 30px;
    padding-left: 5px;
    background-color: #DAF7A6;
}

input {
    height: 30px;
    width: 110px;
    border-radius: 3px;
    border-width: 1px;
    margin-right: 40px;
    border-color: rgb(175, 175, 175);
    padding-left: 7px;
    padding-right: 7px;
    background-color: #DAF7A6;
}

.boton {
    margin-left: 45px;
    width: 200px;
    text-align: center;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    border-width: 4px;
    border-color: #2E4053;

    background-color: #21618C;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

table {
    margin: auto;
    margin-top: 60px;
    width: 85%;
    text-align: center;
    border-collapse: collapse;
}

th{
    padding-bottom: 20px;
    font-size: 18px;
    padding-right: 110px;
}

td{
    font-weight: bold;
    padding: 8px;
}

figure{

    margin-top: -3px;
}

.titulolink{
    text-decoration:none;
}

figcaption{
    font-size: 20px;
    background-color: #1ABC9C;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: normal;
    text-align: left;
}

.buscador {
    float: left;
}

.Ftexto{
    font-size: 13px;
}

/* Pie de página */

hr {
    border: 1px solid rgb(237, 188, 255);
    margin: 3px;
    margin-top: 86px;
}

footer {
    margin: auto;
    margin-right: 7px;
    text-align: right;
}

.hechapor {
    font-size: 11px;
    text-align: right;
}

.irocho{
    margin-top: -10px;
}